<record>
	<!-- resource manager options -->

	<!-- dont preload anything in this folder -->
	<boolean id="preload" value="false"/>

	<!-- turn off auto mapping -->
	<boolean id="amap" value="false"/>

	<!-- logo mappings -->
	<!-- the following XML maps pictures inside this folder into other positions
		in the resource system, which allows this folder to be dropped into any
		place in the graphics folder and still have the game pick up the graphics
		files from the correct places
	-->

	<list id="maps">
		<!-- Generated with FMXML for Mac -->
		<record from="740" to="graphics/pictures/club/740/icon"/>
		<record from="735" to="graphics/pictures/club/735/icon"/>
		<record from="728" to="graphics/pictures/club/728/icon"/>
		<record from="692" to="graphics/pictures/club/692/icon"/>
		<record from="688" to="graphics/pictures/club/688/icon"/>
		<record from="680" to="graphics/pictures/club/680/icon"/>
		<record from="679" to="graphics/pictures/club/679/icon"/>
		<record from="676" to="graphics/pictures/club/676/icon"/>
		<record from="673" to="graphics/pictures/club/673/icon"/>
		<record from="667" to="graphics/pictures/club/667/icon"/>
		<record from="654" to="graphics/pictures/club/654/icon"/>
		<record from="650" to="graphics/pictures/club/650/icon"/>
		<record from="642" to="graphics/pictures/club/642/icon"/>
		<record from="630" to="graphics/pictures/club/630/icon"/>
		<record from="618" to="graphics/pictures/club/618/icon"/>
		<record from="617" to="graphics/pictures/club/617/icon"/>
		<record from="603" to="graphics/pictures/club/603/icon"/>
		<record from="600" to="graphics/pictures/club/600/icon"/>
		<record from="602" to="graphics/pictures/club/602/icon"/>
	</list>
</record>